{% extends "base.html" %}

{% block announce %}
    📢 Signup for a free session to discover R2Devops using your project 👉
<a href="https://calendly.com/r2devops/introduction" class="banner-link">
    I book my meeting
</a>
    🔥
{% endblock %}


{% block extrahead %}
<!-- Plausible -->
<script async defer data-domain="r2devops.io" src="https://plausible.io/js/plausible.js"></script>
<!-- End Plausible -->
<!-- HotJar -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2507435,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- End HotJar -->
{% endblock %}
