[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymdown-extensions = "==8.0.1"
mkdocs-awesome-pages-plugin = "==2.4.0"
mkdocs-git-revision-date-localized-plugin = "==0.7.2"
mkdocs-material = "==6.1.5"
mkdocs-material-extensions = "==1.0.1"
mkdocs-minify-plugin = "==0.3.0"

[requires]
python_version = "3"
