[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "==1.1.2"
pymdown-extensions = "==8.0.1"
mkdocs-material-extensions = "==1.0.1"
mkdocs-minify-plugin = "==0.3.0"
mkdocs-git-revision-date-localized-plugin = "==0.7.2"
requests = ">=2.24.0"
Pygments = ">=2.7.1"
Markdown = "==3.3.1"
mkdocs-material = "==6.0.2"
mkdocs-awesome-pages-plugin = "==2.4.0"
pyyaml = "==5.3.1"

[requires]
python_version = "3.8"
