# All

Jobs index. They are sorted using the [hub default stages](/use-the-hub#stages).

## 🔎 Static tests

| Name <img width=200/> | Description |
| ---- | ----------- |
{% for job in index["static_tests"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](static_tests/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🧱 Build

| Name <img width=220/> | Description |
| ---- | ----------- |
{% for job in index["build"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](build/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🔥 Dynamic tests

| Name <img width=220/> | Description |
| ---- | ----------- |
{% for job in index["dynamic_tests"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](dynamic_tests/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🛠 Provision

| Name <img width=220/> | Description |
| ---- | ----------- |
{% for job in index["provision"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](provision/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 👌 Review

| Name <img width=180/> | Description |
| ---- | ----------- |
{% for job in index["review"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](review/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🏷 Release

| Name <img width=180/> | Description |
| ---- | ----------- |
{% for job in index["release"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](release/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🚀 Deploy

| Name <img width=170/> | Description |
| ---- | ----------- |
{% for job in index["deploy"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](deploy/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🦄 Others

| Name <img width=170/> | Description |
| ---- | ----------- |
{% for job in index["others"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](others/{{ job.name }}/) | {{ job.description }} |
{% endfor %}
