{{ readme }}
{% if linked_issues %}

---

## Linked Issues

  {% for issue in linked_issues[:linked_issues_limit] %}
👉🏼 &nbsp; [#{{issue.iid}} - {{ issue.name }}]({{ issue.url }})
  {% endfor %}
  {% if linked_issues[linked_issues_limit] %}
- And more...
  {% endif %}

<a href="{{linked_issues_url}}" class="md-button  border-radius-10 linked_issues" data-hover="See all issues 🔎">
  <span id="see_all_issues" >See all issues 🔎</span>
</a>
<a href="{{create_issue_url}}" class="md-button  border-radius-10 linked_issues" data-hover="Create an issue ＋">
  <span id="create_issue">Create an issue ＋</span>
</a>
{% endif %}

---

## License

??? "License: {{ license_name }}"
{%- for line in license -%}
  {%- if line %}
    {{ line }}
  {%- endif -%}
{%- endfor %}

---

## Changelog

* **[latest]({{ latest.url }})** (current -> `{{ latest.version }}`):
> ```
  {{ latest.url }}
  ```

{% for version in changelogs -%}
??? "{{ version.version }}"
    > ```
      {{ version.url }}
      ```
  {% for line in version.changelog %}
    {%- if line %}
    {{ line }}
    {%- endif %}
  {%- endfor %}
{% endfor %}

{%- if code_owner %}
-- 🔨 Maintainer: <img src='{{ gitlab_image }}' alt='avatar' style='width: 20px; height: 20px; border-radius: 50%'> [{{ code_owner_name }}]({{ code_owner_url }}) @{{ code_owner }}
{%- endif %}
