{{ readme }}

{% if linked_issues %}
## Linked Issues

  {% for issue in linked_issues[:linked_issues_limit] %}
- [#{{issue.iid}} - {{ issue.name }}]({{ issue.url }})
  {% endfor %}
  {% if linked_issues[linked_issues_limit] %}
- And more...
  {% endif %}

<a alt="See all issues" href="{{linked_issues_url}}">&nbsp;
    <button class="md-button border-radius-10 md-button-center" >&nbsp;
        See all issues <img alt="" class="heart" src="/images/rocket.png">&nbsp;
    </button>&nbsp;
</a>&nbsp;
<a alt="Add an issue" href="{{create_issue_url}}">&nbsp;
    <button class="md-button border-radius-10 md-button-center" >&nbsp;
        Add an issue <img alt="" class="heart" src="/images/rocket.png">&nbsp;
    </button>&nbsp;
</a>&nbsp;
{% endif %}

---

## License

??? "License: {{ license_name }}"
{%- for line in license -%}
  {%- if line %}
    {{ line }}
  {%- endif -%}
{%- endfor %}

---

## Changelog

* **[latest]({{ latest.url }})** (current -> `{{ latest.version }}`):
> ```
  {{ latest.url }}
  ```

{% for version in changelogs -%}
??? "{{ version.version }}"
    > ```
      {{ version.url }}
      ```
  {% for line in version.changelog %}
    {%- if line %}
    {{ line }}
    {%- endif %}
  {%- endfor %}
{% endfor %}

{%- if code_owner %}
-- 🔨 Maintainer: <img src='{{ gitlab_image }}' alt='avatar' style='width: 20px; height: 20px; border-radius: 50%'> [{{ code_owner_name }}]({{ code_owner_url }}) @{{ code_owner }}
{%- endif %}