{{ readme }}

{% if linked_issues %}
## Linked Issues

  {% for issue in linked_issues[:linked_issues_limit] %}
- [#{{issue.iid}} - {{ issue.name }}]({{ issue.url }})
  {% endfor %}
  {% if linked_issues[linked_issues_limit] %}
- [See more...]({{linked_issues_url}})
  {% endif %}
- [Wants more ? Suggest your idea](https://gitlab.com/r2devops/hub/-/issues/new?issue[title]=[job][{{job_name}}]%20-%20)
{% endif %}

## License

??? "License: {{ license_name }}"
{%- for line in license -%}
  {%- if line %}
    {{ line }}
  {%- endif -%}
{%- endfor %}

## Changelog

* **[latest]({{ latest.url }})** (current -> `{{ latest.version }}`):
> ```
  {{ latest.url }}
  ```

{% for version in changelogs -%}
??? "{{ version.version }}"
    > ```
      {{ version.url }}
      ```
  {% for line in version.changelog %}
    {%- if line %}
    {{ line }}
    {%- endif %}
  {%- endfor %}
{% endfor %}

{%- if code_owner %}
-- 🔨 Maintainer: <img src='{{ gitlab_image }}' alt='avatar' style='width: 20px; height: 20px; border-radius: 50%'> [{{ code_owner_name }}]({{ code_owner_url }}) @{{ code_owner }}
{%- endif %}