# 🗂 Index

Jobs index. They are sorted using the [HUB default stages](/getting-started#stages).

## 🔎 Static tests

| Name | Description |
| ---- | ----------- |
{% for job in index["static_tests"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](https://hub.go2scale.io/jobs/static_tests/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 📦 Build

| Name | Description |
| ---- | ----------- |
{% for job in index["build"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](https://hub.go2scale.io/jobs/build/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🛡 Dynamic tests

| Name | Description |
| ---- | ----------- |
{% for job in index["dynamic_tests"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](https://hub.go2scale.io/jobs/dynamic_tests/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🙋 Review

| Name | Description |
| ---- | ----------- |
{% for job in index["review"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](https://hub.go2scale.io/jobs/review/{{ job.name }}/) | {{ job.description }} |
{% endfor %}

## 🚀 Deployment

| Name | Description |
| ---- | ----------- |
{% for job in index["deployment"] -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}](https://hub.go2scale.io/jobs/deployment/{{ job.name }}/) | {{ job.description }} |
{% endfor %}
